<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
     




	<bean id="Logger" class="customers.Logger"/>

	<bean id="CustomerDAO" class="customers.CustomerDAO" >
		<property ref="Logger"  name="Logger" />
	</bean>

	<bean id="EmailSender" class="customers.EmailSender"/>

	<bean id="customerService" class="customers.CustomerService" >
		<property name="customerDAO" ref="CustomerDAO" />
		<property name="EmailSender" ref="EmailSender" />
	</bean>






</beans>
